h3{
    text-align: center;
    font-size: x-large;
    background-color:  #3333ff
    ;
}
*{
    background-color:lightblue;
    height: ;
}
.header{
    display: flex;
     
}
#header{
    margin-left: 80px;
    margin-top: 80px;
    font-size: 20px;
}
/* body */
.body{
    /* background-color: darkblue; */
}