h3{
    text-align: center;
    font-size: 50px;
    /* background-color:  #3333ff; */
    /* color: white; */
    font-style: italic;
}
*{
    background-color:lightblue;
     
}
.header{
    display: flex;
     
}
#header{
    margin-left: 80px;
    margin-top: 80px;
    font-size: 20px;
}
/* body */
h2{
    color: #3333ff;
    text-align: center;
}
h6{
    color: #8080ff;
    font-size: 20px;
}
p a:hover{
    color: red;
}
/*                                    biography                                         */
.ahmed{
    width: 30%;
}
.biography{
    display: flex;
}
/*                   Footer                    */
.footer{
   /* background-color: brown; */
    display: flex;
    justify-content: space-around;
    width: 90%;
   
}
.mission{
    width: 50%;
}
.list{
    margin-top: 40px;
}   
.address{
    margin-top: 40px;
}
#footer-email::placeholder{
    color: black
}
.footer-email-form{
    width: 200px;
}
#footer-email-button{
    width:100px;
    height: 40px;
    border-radius: 1rem;
    background-color:lightblue;
    outline: none;
    border: none;
}
#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 1.5rem;
    outline: none;
    border: none;
    padding:0.5rem;
    font-size: 1rem;margin-bottom: 1rem;
    background-color: white;
}
span{
    font-size: x-large;
}