h3{
    text-align: center;
    font-size: x-large;
    background-color:  #3333ff;
    ;
}
*{
    background-color:lightblue;
     
}
.header{
    display: flex;
     
}
#header{
    margin-left: 80px;
    margin-top: 80px;
    font-size: 20px;
}
/* body */
h2{
    color: #3333ff;
    text-align: center;
}
h6{
    color: #8080ff;
    font-size: 20px;
}
p a:hover{
    color: red;
}
